<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chocolate</title>
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Chocolate</h1>  
  </header>

  <nav>
      <ul>
        <li><a href="/chocolates">Home</a></li>
        <li><a href="/chocolates/new">Add Chocolate</a></li>
      </ul>
    </nav>

  <main>
    <%= yield %>
  </main>
 
</body>
</html>